.database-container {
	$gap: 2rem;
	.languages-container {
		@for $i from 1 to 3 {
			.tools-container:nth-of-type(#{$i}) {
				position: relative;
			}

			.tools-container:nth-of-type(#{$i}):after {
				content: '';
				position: absolute;
				bottom: -$gap / 2;
				left: 0;
				height: 1px;
				width: 100%;
				background: $color-white;
			}
		}

		.tools-container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-auto-rows: 1fr;
			place-items: center;
			gap: 2rem;
			padding: 0 1rem;

			.tool-logo {
				height: 4rem;
			}

			#sql-server-logo {
				height: 4rem;
			}

			#sql-server,
			#azure {
				grid-column: span 2;
			}
		}
	}
}

@include media-md {
	.database-container {
		.languages-container {
			.tools-container {
				padding: 0 2rem;
				grid-template: repeat(2, 1fr) / repeat(3, 1fr);

				.tool-logo {
					height: auto;
				}

				#sql-server,
				#azure {
					grid-column: span 1;
				}

				#mariadb {
					grid-column: span 2;
				}
			}

			.tools-container:nth-of-type(3) {
				grid-template: repeat(1, 1fr) / repeat(3, 1fr);
			}
		}
	}
}

@include media-xl {
	.database-container {
		$gap: 4rem;
		.languages-container {
			justify-content: space-between;

			@for $i from 1 to 3 {
				.tools-container:nth-of-type(#{$i}) {
					position: relative;
				}

				.tools-container:nth-of-type(#{$i}):after {
					content: '';
					position: absolute;
					bottom: -$gap / 2;
					left: 0;
					height: 1px;
					width: 100%;
					background: $color-white;
				}
			}
		}
	}
}
