// configs
@import './color';
@import './config';

// styles
@import '../components/buttons/cta-button/ctabutton';
@import '../components/buttons/stt-button/sttbutton';
@import '../components/nav/nav';
@import '../components/hero/hero';
@import '../components/3d-random/3drandom';
@import '../components/section-break-text/sectionbreaktext';
@import '../components/tech/tech';
@import '../components/section-break/sectionbreak';
@import '../components/channel/channel';
@import '../components/footer/footer';

html {
	scroll-snap-type: y proximity;
	overflow-y: scroll;
}

.section-with-background {
	text-align: center;
	background: #2a2a2a;
	border-radius: $border-radius;
	margin: 1rem;
	padding: 1rem 0;
	box-shadow: 0px 0px 0px 10px #222222;

	.section-with-background-name {
		color: $color-green;
		max-width: 16ch;
		margin: 0 auto;
		text-transform: uppercase;
	}
}

.section-without-background {
	text-align: center;

	.section-without-background-name {
		color: $color-secondary;
	}
}

.red-text {
	color: $color-primary;
	font-weight: bold;
}

.blue-text {
	color: $color-secondary;
	font-weight: bold;
}

.section-name {
	font-size: 1.5rem;
}

.many-more {
	font-size: 1rem;
	font-weight: bold;
	margin-top: 1rem;
}

::-webkit-scrollbar {
	display: none;
}

@include media-md {
	.section-with-background,
	.section-without-background {
		margin: 1rem 2rem;

		.section-with-background-name {
			max-width: none;
		}
	}

	.section-name {
		font-size: 2.25rem;
	}

	.many-more {
		font-size: 1.25rem;
	}
}

@include media-xl {
	.section-with-background,
	.section-without-background {
		margin: 1rem 8rem;
		max-width: $max-width-xl;
		width: 90%;
	}

	.section-name {
		font-size: 3rem;
	}

	.many-more {
		font-size: 1.5rem;
	}
}
