.back-end-tools {
	margin: 3rem 2rem 0;

	.tools-container {
		display: flex;
		flex-direction: column;
		place-items: center;
		gap: 1.5rem;
		margin: 1rem 0;

		.language-link {
			.logo {
				height: 3rem;
			}
		}
	}
}

@include media-md {
	.back-end-tools {
		margin: 3rem 4rem 0;

		.tools-container {
			gap: 3rem;
			margin: 2rem 0;

			.language-link {
				.logo {
					height: 5rem;
				}
			}
		}
	}
}
