.back-end-tools {
	margin: 3rem 2rem 0;

	.tools-container {
		display: flex;
		flex-direction: column;
		place-items: center;
		gap: 1.5rem;
		margin: 1rem 0;

		.language-link {
			.logo {
				height: 3rem;
			}
		}
	}

	.many-more {
		margin-top: 1rem;
	}
}
