.cta-btn {
	text-decoration: none;
	font-size: 0.65rem;
	color: #fff;
	padding: 0.3rem 1.25em;
	background-color: darken($color-primary, 20);
	border-radius: $border-radius;
	transition: all 0.3s ease;

	&:hover,
	&:focus-visible {
		padding: 0.3rem 3em;
	}
}

@include media-md {
	.cta-btn {
		font-size: 0.75rem;
	}
}
