.nav-container {
	position: fixed;
	top: -5rem;
	left: 0;
	right: 0;
	z-index: 1000;
	transition: all 1.125s ease;
	background: rgba($color-black, 0.85);
	backdrop-filter: blur(15px);

	nav {
		padding: 1rem 2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		z-index: 800;

		#mind {
			cursor: pointer;
			font-size: 2.25rem;
			position: relative;
			width: 3em;
		}

		#x {
			position: absolute;
			top: -6%;
			font-size: 2.5rem;
			color: $color-primary;
		}

		.btn {
			background: transparent;
			border: none;
			display: grid;
			place-items: center;
			cursor: pointer;

			.fa-bars {
				font-size: 1.5rem;
			}
		}
	}

	.menu-items-container {
		position: fixed;
		left: 0;
		right: 0;
		top: 5rem;
		height: calc(100vh - 5rem);
		text-align: center;
		display: grid;
		place-items: center;
		background: $color-black;
		transition: all 0.5s ease;
		z-index: 700;

		.menu-items {
			display: flex;
			flex-direction: column;
			gap: 2.5rem;
			transition: all 0.5s ease;
			z-index: 700;

			.menu-item {
				transition: all 0.5s ease;
				z-index: 700;

				&-link {
					color: $color-light-grey;
					font-size: 1.5rem;
					transition: all 0.3s ease;

					&:hover,
					&:focus-visible {
						color: $color-primary;
					}
				}
			}

			.active {
				color: $color-white !important;
			}
		}
	}

	.showMenu {
		// top: 5rem;
		opacity: 1;

		.menu-item {
			transform: translateY(0);
		}

		@for $i from 1 to 4 {
			.menu-item:nth-child(#{$i}) {
				transition-delay: ($i * 0.3s) + 0.1s;
			}
		}
	}

	.hideMenu {
		// top: -100vh;
		opacity: 0.5;
		height: 0;

		.menu-items {
			transform: translateY(-100vh);

			.menu-item {
				transform: translateY(-100vh);
			}
		}
	}
}

.showNav {
	top: 0;
}

.showNavAnimation {
	animation: nav-slide-down 1.125s ease $typewriterSpeed + 1.125 forwards;

	@keyframes nav-slide-down {
		from {
			top: -5rem;
		}
		to {
			top: 0;
		}
	}
}
