.header-container {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1000;
	background: rgba($color-black, 0.82);
	backdrop-filter: blur(15px);
	top: -6rem;
	transition: all 1.125s ease;

	.nav-container {
		width: 100%;
		display: flex;
		place-items: center;
		padding: 1rem 2rem;

		nav {
			flex: 0 0 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			z-index: 800;

			#mind {
				cursor: pointer;
				font-size: 2.25rem;
				position: relative;
				width: 3em;
			}

			#x {
				position: absolute;
				top: -6%;
				font-size: 2.5rem;
				color: $color-primary;
			}

			#mindX-logo {
				width: 9rem;
				// height: 2.5rem;
			}

			.btn {
				background: transparent;
				border: none;
				display: grid;
				place-items: center;
				cursor: pointer;

				.fa-bars {
					font-size: 1.5rem;
				}
			}
		}

		.menu-items-container {
			position: fixed;
			left: 0;
			right: 0;
			top: 4rem;
			height: 0;
			text-align: center;
			display: grid;
			place-items: center;
			background: $color-black;
			transition: all 0.5s ease;
			z-index: 700;

			.menu-items {
				display: flex;
				flex-direction: column;
				gap: 2.5rem;
				transition: all 0.5s ease;
				z-index: 700;
				transform: translateY(-100vh);

				.menu-item {
					transition: all 0.5s ease;
					z-index: 700;

					&-link {
						color: $color-light-grey;
						font-size: 1.5rem;
						transition: all 0.3s ease;
						position: relative;
						z-index: 0;
						padding: 0 1rem;
						// padding: 0 0.25rem;

						&:hover,
						&:focus-visible {
							color: $color-primary;

							&::before {
								width: 100%;
								height: calc(100% + 1px);
								background: $color-white;
							}
						}

						&::before {
							content: '';
							position: absolute;
							left: 0;
							bottom: -1px;
							width: 1rem;
							height: 3px;
							background: $color-primary;
							transition: background 0.3s ease, width 0.3s ease,
								height 0.3s ease 0.3s;
							z-index: -1;
						}
					}
				}

				.active {
					color: $color-white !important;
					&::before {
						content: none;
					}
				}
			}
		}

		.showMenu {
			opacity: 1;
			height: calc(100vh - 4rem);

			.menu-items {
				transform: translateY(0);

				.menu-item {
					transform: translateY(0);
				}

				@for $i from 1 to 4 {
					.menu-item:nth-child(#{$i}) {
						transition-delay: ($i * 0.3s) + 0.1s;
					}
				}
			}
		}

		.hideMenu {
			opacity: 0.5;
			height: 0;

			.menu-items {
				transform: translateY(-100vh);

				.menu-item {
					transform: translateY(-100vh);
				}
			}
		}

		.cta-btn {
			display: none;
		}
	}
}

.showNav {
	top: 0;
}

.showNavAnimation {
	animation: nav-slide-down 1.125s ease $typewriterSpeed + 1.125 forwards;

	@keyframes nav-slide-down {
		from {
			top: -6rem;
		}
		to {
			top: 0;
		}
	}
}

@include media-md {
	.header-container {
		.nav-container {
			justify-content: space-between;
			padding: 1rem 4rem;
			nav {
				flex: 0;

				#mindX-logo {
					min-width: 9rem;
				}

				.btn {
					display: none;
				}
			}

			.menu-items-container {
				position: relative;
				height: max-content;
				background: transparent;
				top: 0;
				// transform: translateX(-0.5em);

				.menu-items {
					transform: translateY(0);
					flex-direction: row;

					.menu-item {
						transform: translateY(0);

						&-link {
							font-size: 1rem;
						}
					}
				}
			}

			.cta-btn {
				display: inline;
				font-size: 1rem;
			}
		}
	}
}

@include media-xl {
	.header-container {
		display: grid;
		place-items: center;

		.nav-container {
			padding: 1rem 8rem;
			width: 87rem;

			nav {
				#mindX-logo {
					min-width: 10rem;
				}
			}

			.menu-items-container {
				.menu-items {
					.menu-item {
						&-link {
							font-size: 1.25rem;
						}
					}
				}
			}
		}
	}
}
