.section-break-text {
	text-align: center;

	.title {
		font-size: 1.75rem;
		font-weight: bold;
		text-transform: capitalize;
		margin-bottom: 1.5rem;
	}

	.subtitle {
		font-size: 1rem;
	}
}

@include media-md {
	.section-break-text {
		.title {
			font-size: 2.5rem;
		}

		.subtitle {
			font-size: 1.25rem;
		}
	}
}

@include media-xl {
	.section-break-text {
		.title {
			font-size: 3rem;
		}

		.subtitle {
			font-size: 1.5rem;
		}
	}
}
