.section-break-text {
	text-align: center;

	.title {
		font-size: 1.75rem;
		font-weight: bold;
		text-transform: capitalize;
		margin-bottom: 1.5rem;
	}

	.subtitle {
		font-size: 1rem;
	}
}

.red-text {
	color: $color-primary;
}
