.hero-section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	overflow: hidden;

	.hero-container {
		// position: relative;

		.hero-text-container {
			display: flex;
			flex-direction: column;
			gap: 3rem;
			overflow: hidden;
			padding: 0 0.5rem;

			.small-text {
				font-size: 1rem;
				text-transform: capitalize;
				color: $color-light-grey;
				position: relative;
				animation-delay: 0.5s;
				transform: translateX(-110%);
				margin: 0 auto;
				animation: slide-right 1s ease forwards;

				@keyframes slide-right {
					from {
						transform: translateX(-110%);
					}
					to {
						transform: translateX(0);
					}
				}

				#first-website {
					color: $color-primary;
				}

				#yourself {
					color: $color-secondary;
				}

				&::after {
					content: url('https://raw.githubusercontent.com/Racker-Hank/IntroToWebDev/master/code/intro-to-web-dev/res/hero/line-phone.svg');
					position: absolute;
					right: 0;
					bottom: -0.65em;
					animation: slide-up 1s ease forwards;
					animation-delay: 1s;
					transform: translateY(20%);
					opacity: 0;

					@keyframes slide-up {
						from {
							opacity: 0;
							transform: translateY(20%);
						}
						to {
							opacity: 1;
							transform: translateY(0);
						}
					}
				}
			}

			.big-text {
				font-family: 'Fira Code', monospace;
				font-weight: normal;
				font-size: 1.5rem;
				text-transform: capitalize;
				position: relative;
				width: max-content;
				// padding-right: 0.125em;
				margin: 0 auto;
				letter-spacing: 1px;
				transition: all 0.3s ease;

				&::before,
				&::after {
					content: '';
					position: absolute;
					top: -3px;
					right: 0;
					bottom: 0;
					left: 0;
				}
			}

			// $typewriterSpeed: 6s;
			#learn {
				$steps: 17;
				$color-blink: $color-white;

				&::before {
					background: $color-black;
					animation: typewriter $typewriterSpeed steps($steps) 0.5s
						forwards;
				}

				&::after {
					width: 0.15em;
					background: $color-blink;
					visibility: visible;
					animation: typewriter $typewriterSpeed steps($steps) 0.5s
							forwards,
						blink $typewriterSpeed / 6 steps($steps) infinite;
				}
			}

			#code {
				$steps: 16;
				$color-blink: lighten($color-light-grey, 10%);
				cursor: not-allowed;
				max-width: 18ch;

				&::before {
					background: $color-black;
					animation: typewriter $typewriterSpeed steps($steps) 0.5s
						forwards;
				}

				&::after {
					width: 0.15em;
					background: $color-blink;
					visibility: visible;
					animation: typewriter $typewriterSpeed steps($steps) 0.5s
							forwards,
						blink $typewriterSpeed / 6 steps($steps) infinite;
				}
			}

			#build {
				$steps: 17;
				$color-blink: $color-light-grey;

				&::before {
					background: $color-black;
					animation: typewriter $typewriterSpeed steps($steps) 0.5s
						forwards;
				}

				&::after {
					width: 0.15em;
					background: $color-blink;
					visibility: visible;
					animation: typewriter $typewriterSpeed steps($steps) 0.5s
							forwards,
						blink $typewriterSpeed / 6 steps($steps) infinite;
				}
			}

			@keyframes typewriter {
				to {
					left: 100%;
				}
			}

			@keyframes blink {
				to {
					background: transparent;
				}
			}
		}

		.hero-img-container {
			display: none;
			animation: slide-left 1s ease forwards;

			@keyframes slide-left {
				from {
					opacity: 0;
					transform: translateX(110%);
				}
				to {
					opacity: 1;
					transform: translateX(0);
				}
			}
		}
	}

	.btn {
		position: absolute;
		animation: arrow-down 1.125s cubic-bezier(0.39, 0.37, 1, 2.6)
			$typewriterSpeed + 1.125 infinite;
		opacity: 0;

		@keyframes arrow-down {
			from {
				bottom: 3rem;
				opacity: 0;
			}
			to {
				bottom: 1.5rem;
				opacity: 1;
			}
		}

		.fa-chevron-down {
			font-size: 1rem;
		}
	}
}

@include media-md {
	.hero-section {
		.hero-container {
			.hero-text-container {
				.small-text {
					font-size: 1.25rem;

					&::after {
						content: url('https://raw.githubusercontent.com/Racker-Hank/IntroToWebDev/master/code/intro-to-web-dev/res/hero/line-tablet.svg');
					}
				}

				.big-text {
					font-size: 2rem;
				}
			}
		}

		.btn {
			.fa-chevron-down {
				font-size: 1.5rem;
			}
		}
	}
}

@include media-xl {
	.hero-section {
		padding: 0 8rem;
		.hero-container {
			display: flex;
			gap: 4rem;
			max-width: 72rem;

			.hero-text-container {
				text-align: left;

				.small-text {
					font-size: 1.25rem;
					margin: 0;
					width: max-content;

					&::after {
						content: url('https://raw.githubusercontent.com/Racker-Hank/IntroToWebDev/master/code/intro-to-web-dev/res/hero/line-laptop.svg');
					}
				}

				.big-text {
					font-size: 2.5rem;
					margin: 0;
				}
			}

			.hero-img-container {
				display: block;
				position: relative;
				width: 641px;
				height: 315px;
				z-index: -1;

				.walk-up-the-stair {
					position: absolute;
				}

				#book-1 {
					top: 187px;
				}

				#book-3 {
					bottom: 0;
					left: 115px;
				}
			}
		}
	}
}
