@import '../section-break-text/sectionbreaktext';
@import './basic-languages/basiclanguages';
@import './basic-tools/basictools';
@import './front-end/languages/frontendlanguages';
@import './front-end/tools/frontendtools';
@import './back-end/languages/backendlanguages';
@import './back-end/tools/backendtools';

#tech {
	.section-break-text:nth-of-type(2) {
		height: 100vh !important;
		padding: 5rem 0;
		display: grid;
		place-items: center;
		cursor: default;

		scroll-snap-align: start;
		scroll-snap-stop: always;

		.subtitle,
		.red-text {
			transition: all 0.3s ease;

			&:hover {
				color: $color-secondary;
			}
		}
	}

	.front-end,
	.back-end {
		padding-top: 5rem;
	}

	.language-link {
		transition: all 0.3s ease;

		&:hover,
		&:focus-visible {
			transform: scale(1.1);
		}
	}
}
