.css-container {
	margin-bottom: 2rem;

	.text-container {
		.subtitle {
			#css {
				background-color: #048fca;
			}
		}
	}

	$gap: 2rem;
	.languages-container {
		@for $i from 1 to 2 {
			div:nth-of-type(#{$i}) {
				position: relative;
			}

			div:nth-of-type(#{$i}):after {
				content: '';
				position: absolute;
				bottom: -$gap / 2;
				left: 0;
				height: 1px;
				width: 100%;
				background: $color-white;
			}
		}

		.img-container {
			display: grid;
			place-items: center;

			.svg {
				height: 100px;
			}
		}

		.logo-container {
			display: grid;
			place-items: center;
			gap: 1rem;
			grid-template: repeat(2, 1fr) / repeat(2, 1fr);

			.language-link {
				transition: all 0.3s ease;

				&:hover {
					transform: scale(1.1);
				}

				.logo {
					height: 75px;
				}
			}
		}
	}
}
