@import './css';
@import './js';

.front-end-languages {
	.grid-container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		// grid-auto-rows: 1fr;
		gap: 2.5rem 0;
	}
}

// both css and js
.front-end-languages-container {
	.text-container {
		margin: 1rem 0;
		.title {
			text-transform: capitalize;
			font-size: 1.5rem;
			margin-bottom: 0.5rem;
		}

		.subtitle {
			font-size: 0.875rem;

			.language-name {
				font-family: 'Courier New', Courier, monospace;
				font-weight: bold;
				color: #fff;
				padding: 0.2em;
				border-radius: 5px;
				font-size: 1rem;
			}
		}
	}

	$gap: 2rem;
	.languages-container {
		border-radius: $border-radius;
		border: 1px solid $color-white;
		display: flex;
		flex-direction: column;
		gap: $gap;
		padding: 1rem 0;
		margin: 0 1rem 1rem;
	}
}

@include media-md {
	.front-end-languages-container {
		.text-container {
			.title {
				font-size: 2rem;
			}

			.subtitle {
				font-size: 1.25rem;

				.language-name {
					font-size: 1.25rem;
					padding: 0.2em 0.2em 0.1em;
				}
			}
		}

		.languages-container {
			margin: 0 2rem 1rem;
		}
	}
}
