.js-container {
	#js {
		background-color: #e1c107;
	}

	$gap: 2rem;
	.languages-container {
		@for $i from 1 to 3 {
			.language-container:nth-of-type(#{$i}) {
				position: relative;
			}

			.language-container:nth-of-type(#{$i}):after {
				content: '';
				position: absolute;
				bottom: -$gap / 2;
				left: 0;
				height: 1px;
				width: 100%;
				background: $color-white;
			}
		}

		.language-info-container {
			display: flex;
			flex-direction: column;
			place-items: center;
			margin: 0 2rem;

			.language-name-container {
				display: flex;
				justify-content: center;
				margin-bottom: 1rem;

				.language-link {
					display: flex;
					place-items: center;
					justify-content: center;

					.language-logo {
						margin-right: 0.5rem;
					}

					#react-logo,
					#vue-logo {
						height: 40px;
					}

					#svelte-logo {
						height: 50px;
					}

					.language-name {
						text-transform: capitalize;
						font-size: 2rem;
						font-family: 'Fira Code';
					}
				}
			}

			.description {
				font-size: 0.875rem;
				color: #aaa;
				max-width: 32ch;
				margin: 0 auto 1rem;
			}
		}

		.frameworks-container {
			display: flex;
			flex-direction: column;
			place-items: center;
			justify-content: center;
			gap: 1rem 3em;

			.framework-link {
				#remix {
					height: 60px;
				}
			}
		}
	}
}

@include media-md {
	.js-container {
		.languages-container {
			.language-container {
				padding: 1rem 0;

				.language-info-container {
					flex-direction: row;

					.language-name-container {
						justify-content: start;
						flex: 0 0 35%;
					}

					.description {
						font-size: 1rem;
						text-align: left;
						max-width: none;
						margin: 0 0 1rem;
					}
				}

				.frameworks-container {
					flex-direction: row;
				}
			}
		}
	}
}

@include media-lg {
	.js-container {
		.languages-container {
			.language-container {
				.language-info-container {
					.language-name-container {
						flex: 0 0 25%;
					}
				}
			}
		}
	}
}

@include media-xl {
	.js-container {
		.languages-container {
			.language-container {
				.language-info-container {
					.language-name-container {
						flex: 0 0 35%;
					}
				}
			}
		}
	}
}
