.js-container {
	#js {
		background-color: #e1c107;
	}

	$gap: 2rem;
	.languages-container {
		@for $i from 1 to 3 {
			.language-container:nth-of-type(#{$i}) {
				position: relative;
			}

			.language-container:nth-of-type(#{$i}):after {
				content: '';
				position: absolute;
				bottom: -$gap / 2;
				left: 0;
				height: 1px;
				width: 100%;
				background: $color-white;
			}
		}

		.language-name-container {
			display: flex;
			justify-content: center;
			margin-bottom: 1rem;

			.language-link {
				display: flex;
				place-items: center;
				justify-content: center;

				.language-logo {
					margin-right: 0.5rem;
				}

				#react-logo,
				#vue-logo {
					height: 40px;
				}

				#svelte-logo {
					height: 50px;
				}

				.language-name {
					text-transform: capitalize;
					font-size: 2rem;
					font-family: 'Fira Code';
				}
			}
		}

		.description {
			font-size: 0.875rem;
			color: #aaa;
			max-width: 32ch;
			margin: 0 auto 1rem;
		}

		.frameworks-container {
			display: flex;
			flex-direction: column;
			place-items: center;
			justify-content: center;
			gap: 1rem;

			.framework-link {
				#remix {
					height: 60px;
				}
			}
		}
	}
}
