.cta-btn {
  text-decoration: none;
  font-size: 0.65rem;
  color: #fff;
  padding: 0.3rem 1.25em;
  background-color: #cd0000;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cta-btn:hover, .cta-btn:focus-visible {
  padding: 0.3rem 3em;
}

.stt-btn {
  position: fixed;
  right: 2rem;
  bottom: -2rem;
  background: #333333;
  height: 2rem;
  width: 2rem;
  border: 2px solid #999999;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 900;
}

.stt-btn:hover, .stt-btn:focus-visible {
  background: #ff3434;
}

.stt-btn:hover .fa-chevron-up, .stt-btn:focus-visible .fa-chevron-up {
  color: #fff;
}

.stt-btn .fa-chevron-up {
  font-size: 1.25rem;
  color: #999999;
}

.showSTTBtn {
  bottom: 1.5rem;
}

.hideSTTBtn {
  bottom: -2rem;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-container nav {
  padding: 1rem 2rem;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-container nav #mind {
  font-size: 2.25rem;
}

.nav-container nav #x {
  font-size: 2.375rem;
  color: #ff3434;
}

.nav-container nav .btn {
  background: transparent;
  border: none;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.nav-container nav .btn .fa-bars {
  font-size: 1.5rem;
}

.nav-container .menu-items-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 5rem;
  height: calc(100vh - 5rem);
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: #000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-container .menu-items-container .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

.nav-container .menu-items-container .menu-item {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-container .menu-items-container .menu-item-link {
  color: #999999;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-container .menu-items-container .menu-item-link:hover {
  color: #ff3434;
}

.nav-container .menu-items-container .active {
  color: #fff !important;
}

.nav-container .showMenu {
  top: 5rem;
  opacity: 1;
}

.nav-container .showMenu .menu-item {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav-container .showMenu .menu-item:nth-child(1) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.nav-container .showMenu .menu-item:nth-child(2) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.nav-container .showMenu .menu-item:nth-child(3) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.nav-container .hideMenu {
  top: -100vh;
  opacity: 0;
}

.nav-container .hideMenu .menu-item {
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
}

.hero-section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero-section .hero-container {
  position: relative;
}

.hero-section .hero-container .hero-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  overflow: hidden;
}

.hero-section .hero-container .hero-text-container .small-text {
  font-size: 1rem;
  text-transform: capitalize;
  color: #999999;
  position: relative;
  -webkit-animation: slide-right 1s ease forwards;
          animation: slide-right 1s ease forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
}

@-webkit-keyframes slide-right {
  from {
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.hero-section .hero-container .hero-text-container .small-text #first-website {
  color: #ff3434;
}

.hero-section .hero-container .hero-text-container .small-text #yourself {
  color: #5378ff;
}

.hero-section .hero-container .hero-text-container .small-text::after {
  content: url("https://raw.githubusercontent.com/Racker-Hank/IntroToWebDev/master/code/intro-to-web-dev/res/hero/line4.svg");
  position: absolute;
  right: 0;
  bottom: -0.65em;
  -webkit-animation: slide-up 1s ease forwards;
          animation: slide-up 1s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  opacity: 0;
}

@-webkit-keyframes slide-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.hero-section .hero-container .hero-text-container .big-text {
  font-family: 'Fira Code', monospace;
  font-weight: normal;
  font-size: 1.5rem;
  text-transform: capitalize;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  letter-spacing: 1px;
}

.hero-section .hero-container .hero-text-container .big-text::before, .hero-section .hero-container .hero-text-container .big-text::after {
  content: '';
  position: absolute;
  top: -3px;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-section .hero-container .hero-text-container #learn::before {
  background: #000;
  -webkit-animation: typewriter 6s steps(17) 0.5s forwards;
          animation: typewriter 6s steps(17) 0.5s forwards;
}

.hero-section .hero-container .hero-text-container #learn::after {
  width: 0.15em;
  background: #fff;
  visibility: visible;
  -webkit-animation: typewriter 6s steps(17) 0.5s forwards, blink calc(6s / 6) steps(17) infinite;
          animation: typewriter 6s steps(17) 0.5s forwards, blink calc(6s / 6) steps(17) infinite;
}

.hero-section .hero-container .hero-text-container #code::before {
  background: #000;
  -webkit-animation: typewriter 6s steps(16) 0.5s forwards;
          animation: typewriter 6s steps(16) 0.5s forwards;
}

.hero-section .hero-container .hero-text-container #code::after {
  width: 0.15em;
  background: #cccccc;
  visibility: visible;
  -webkit-animation: typewriter 6s steps(16) 0.5s forwards, blink calc(6s / 6) steps(16) infinite;
          animation: typewriter 6s steps(16) 0.5s forwards, blink calc(6s / 6) steps(16) infinite;
}

.hero-section .hero-container .hero-text-container #build::before {
  background: #000;
  -webkit-animation: typewriter 6s steps(17) 0.5s forwards;
          animation: typewriter 6s steps(17) 0.5s forwards;
}

.hero-section .hero-container .hero-text-container #build::after {
  width: 0.15em;
  background: #999999;
  visibility: visible;
  -webkit-animation: typewriter 6s steps(17) 0.5s forwards, blink calc(6s / 6) steps(17) infinite;
          animation: typewriter 6s steps(17) 0.5s forwards, blink calc(6s / 6) steps(17) infinite;
}

@-webkit-keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@-webkit-keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

.hero-section .btn {
  position: absolute;
  -webkit-animation: arrow-down 1.125s cubic-bezier(0.39, 0.37, 1, 2.6) infinite;
          animation: arrow-down 1.125s cubic-bezier(0.39, 0.37, 1, 2.6) infinite;
}

@-webkit-keyframes arrow-down {
  from {
    bottom: 3rem;
    opacity: 0;
  }
  to {
    bottom: 1.5rem;
    opacity: 1;
  }
}

@keyframes arrow-down {
  from {
    bottom: 3rem;
    opacity: 0;
  }
  to {
    bottom: 1.5rem;
    opacity: 1;
  }
}

.hero-section .btn a .fa-chevron-down {
  font-size: 1.5rem;
}

.section-break-text {
  text-align: center;
}

.section-break-text .title {
  font-size: 1.75rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.section-break-text .subtitle {
  font-size: 1rem;
}

.red-text {
  color: #ff3434;
}

.basic-languages {
  margin: 3rem 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.basic-languages .languages-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  gap: 2em;
  -ms-grid-columns: (minmax(120px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.basic-languages .languages-container .language-container {
  background: -webkit-gradient(linear, left top, left bottom, from(#2b2b2b), to(#2b2b2b)) padding-box, -webkit-gradient(linear, left top, left bottom, from(#5378ff), color-stop(49.93%, #a964a8), to(#ff5151)) border-box;
  background: linear-gradient(#2b2b2b, #2b2b2b) padding-box, linear-gradient(180deg, #5378ff 0%, #a964a8 49.93%, #ff5151 100%) border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid transparent;
  border-radius: 15px;
  min-width: 130px;
}

.basic-languages .languages-container .language-container:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#2b2b2b), to(#2b2b2b)) padding-box, -webkit-gradient(linear, left bottom, left top, from(#5378ff), color-stop(49.93%, #a964a8), to(#ff5151)) border-box;
  background: linear-gradient(#2b2b2b, #2b2b2b) padding-box, linear-gradient(0deg, #5378ff 0%, #a964a8 49.93%, #ff5151 100%) border-box;
}

.basic-languages .languages-container .language-container .language-img {
  width: 5rem;
  position: absolute;
  top: -1rem;
}

.basic-languages .languages-container .language-container::before {
  content: '';
  position: absolute;
  top: -0.73rem;
  height: 1.1rem;
  width: 4.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff5151), to(#6b53ff));
  background: linear-gradient(180deg, #ff5151 0%, #6b53ff 100%);
  border-radius: 15px;
}

.basic-languages .languages-container .language-container .language-name {
  margin: 7rem 1rem 0.25rem;
  padding: 2px 1rem;
  background: linear-gradient(268.42deg, #ff5151 0%, #fc51ff 100%);
  border-radius: 10px;
  font-size: 0.875em;
}

.basic-languages .languages-container .language-container .language-description {
  margin: 0.5rem 0.5rem;
  text-align: center;
  font-size: 0.75rem;
  color: #aaa;
}

.basic-languages .languages-container #JavaScript {
  grid-column: span 2;
  width: calc(50% - 1em);
}

.basic-tools {
  margin: 3rem 2rem 0;
}

.basic-tools .tools-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.basic-tools .tools-container .section-name {
  margin-bottom: 2rem;
}

.basic-tools .tools-container .logos-container {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basic-tools .tools-container .logos-container .logo {
  cursor: pointer;
  height: 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.basic-tools .tools-container .logos-container .current {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.basic-tools .tools-container .logos-container .left,
.basic-tools .tools-container .logos-container .right {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.basic-tools .tools-container .logos-container .left:hover,
.basic-tools .tools-container .logos-container .right:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.basic-tools .tools-container .description-container {
  margin: 2rem 0 1.5rem;
  width: 40ch;
  height: 6rem;
  overflow: hidden;
  position: relative;
}

.basic-tools .tools-container .description-container .description {
  width: 40ch;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 0.75rem;
  color: #bfbfbf;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.basic-tools .tools-container .description-container .current {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.basic-tools .tools-container .description-container .left {
  left: -100%;
}

.basic-tools .tools-container .description-container .right {
  left: 100%;
}

.basic-tools .tools-container .cta-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.section-name {
  font-size: 1.5rem;
}

.many-more {
  font-size: 1rem;
  font-weight: bold;
}

.css-container {
  margin-bottom: 2.5rem;
}

.css-container #css {
  background-color: #048fca;
}

.css-container .languages-container div:nth-of-type(1) {
  position: relative;
}

.css-container .languages-container div:nth-of-type(1):after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 0;
  height: 1px;
  width: 100%;
  background: #fff;
}

.css-container .languages-container .img-container {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.css-container .languages-container .img-container .svg {
  height: 100px;
}

.css-container .languages-container .logo-container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  gap: 1rem;
  -ms-grid-rows: (1fr)[2];
  -ms-grid-columns: (1fr)[2];
      grid-template: repeat(2, 1fr)/repeat(2, 1fr);
}

.css-container .languages-container .logo-container .language-link .logo {
  height: 75px;
}

.js-container #js {
  background-color: #e1c107;
}

.js-container .languages-container .language-container:nth-of-type(1) {
  position: relative;
}

.js-container .languages-container .language-container:nth-of-type(1):after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 0;
  height: 1px;
  width: 100%;
  background: #fff;
}

.js-container .languages-container .language-container:nth-of-type(2) {
  position: relative;
}

.js-container .languages-container .language-container:nth-of-type(2):after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 0;
  height: 1px;
  width: 100%;
  background: #fff;
}

.js-container .languages-container .language-name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.js-container .languages-container .language-name-container .language-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.js-container .languages-container .language-name-container .language-link .language-logo {
  margin-right: 0.5rem;
}

.js-container .languages-container .language-name-container .language-link #react-logo,
.js-container .languages-container .language-name-container .language-link #vue-logo {
  height: 40px;
}

.js-container .languages-container .language-name-container .language-link #svelte-logo {
  height: 50px;
}

.js-container .languages-container .language-name-container .language-link .language-name {
  text-transform: capitalize;
  font-size: 2rem;
  font-family: 'Fira Code';
}

.js-container .languages-container .description {
  font-size: 1rem;
  color: #aaa;
  max-width: 32ch;
  margin: 0 auto 1rem;
}

.js-container .languages-container .frameworks-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.js-container .languages-container .frameworks-container .framework-link #remix {
  height: 60px;
}

.front-end-languages .many-more {
  margin-top: 1rem;
}

.front-end-language-container .text-container {
  margin: 1rem 0;
}

.front-end-language-container .text-container .title {
  text-transform: capitalize;
  font-size: 1.5rem;
}

.front-end-language-container .text-container .subtitle {
  font-size: 0.75rem;
}

.front-end-language-container .text-container .subtitle .language-name {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: #fff;
  padding: 0.2em;
  border-radius: 5px;
  font-size: 1rem;
}

.front-end-language-container .languages-container {
  border-radius: 15px;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;
  margin: 0 1rem 1rem;
}

#tech .section-break-text:nth-of-type(2) {
  height: 100vh !important;
  padding: 5rem 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: default;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#tech .section-break-text:nth-of-type(2) .subtitle,
#tech .section-break-text:nth-of-type(2) .red-text {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#tech .section-break-text:nth-of-type(2) .subtitle:hover,
#tech .section-break-text:nth-of-type(2) .red-text:hover {
  color: #5378ff;
}

#tech .language-link {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#tech .language-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

html {
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
  overflow-y: scroll;
}

.section-with-background {
  text-align: center;
  background: #333;
  border-radius: 15px;
  margin: 1rem;
  padding: 1rem 0;
  -webkit-box-shadow: 0px 0px 0px 10px #222222;
          box-shadow: 0px 0px 0px 10px #222222;
}

.section-with-background .section-with-background-name {
  color: #00e472;
}

.section-without-background-name {
  color: #5378ff;
}
/*# sourceMappingURL=main.css.map */